<?xml version="1.0" encoding="UTF-8"?><UserStoreManager xmlns:svns="http://org.wso2.securevault/configuration" class="{{agent_identity.userstore_manager_class}}">
      <Property name="dataSource">{{agent_identity.datasource}}</Property>
      <Property name="Disabled">false</Property>
      <Property name="ReadOnly">false</Property>
      <Property name="ReadGroups">true</Property>
      <Property name="isConsumerUserstore">true</Property>
      <Property name="TenantProperties">UsernameJavaRegEx,UsernameJavaScriptRegEx,UsernameJavaRegExViolationErrorMsg,PasswordJavaRegEx,PasswordJavaScriptRegEx,RolenameJavaRegEx,RolenameJavaScriptRegEx,MultiAttributeSeparator</Property>
      <Property name="TenantEditableProperties">UsernameJavaRegEx,UsernameJavaScriptRegEx,UsernameJavaRegExViolationErrorMsg,PasswordJavaRegEx,PasswordJavaScriptRegEx,RolenameJavaRegEx,RolenameJavaScriptRegEx,MultiAttributeSeparator</Property>
      <Property name="WriteGroups">true</Property>
      <Property name="UsernameJavaRegEx">^[a-zA-Z0-9_+-]+$</Property>
      <Property name="UsernameJavaScriptRegEx">^[a-zA-Z0-9_+-]+$</Property>
      <Property name="UsernameJavaRegExViolationErrorMsg">Username pattern policy violated.</Property>
      <Property name="PasswordJavaRegEx">^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])).{8,100}$</Property>
      <Property name="PasswordJavaScriptRegEx">^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])).{8,100}$</Property>
      <Property name="PasswordJavaRegExViolationErrorMsg">Your password must contain at least 8 characters, one uppercase and lowercase letter, and one digit.</Property>
      <Property name="RolenameJavaRegEx">^[a-zA-Z0-9-_]{3,30}$</Property>
      <Property name="RolenameJavaScriptRegEx">^[a-zA-Z0-9-_]{3,30}$</Property>
      <Property name="CaseInsensitiveUsername">false</Property>
      <Property name="UseCaseSensitiveUsernameForCacheKeys">false</Property>
      <Property name="IsBulkImportSupported">false</Property>
      <Property name="PasswordDigest">PBKDF2</Property>
      <Property name="MultiAttributeSeparator">,</Property>
      <Property name="StoreSaltedPassword">true</Property>
      <Property name="MaxUserNameListLength">100</Property>
      <Property name="MaxRoleNameListLength">100</Property>
      <Property name="UserRolesCacheEnabled">true</Property>
      <Property name="UserNameUniqueAcrossTenants">false</Property>
      <Property name="GroupIDDualWriteModeEnabled">true</Property>
      <Property name="validationQuery"/>
      <Property name="validationInterval"/>
      <Property name="defaultAutoCommit"/>
      <Property name="defaultReadOnly"/>
      <Property name="defaultTransactionIsolation"/>
      <Property name="defaultCatalog"/>
      <Property name="initialSize"/>
      <Property name="testOnReturn">false</Property>
      <Property name="testOnBorrow">false</Property>
      <Property name="validatorClassName"/>
      <Property name="numTestsPerEvictionRun"/>
      <Property name="accessToUnderlyingConnectionAllowed"/>
      <Property name="removeAbandoned">false</Property>
      <Property name="removeAbandonedTimeout"/>
      <Property name="logAbandoned">false</Property>
      <Property name="connectionProperties"/>
      <Property name="initSQL"/>
      <Property name="jdbcInterceptors"/>
      <Property name="jmxEnabled">true</Property>
      <Property name="fairQueue">true</Property>
      <Property name="abandonWhenPercentageFull"/>
      <Property name="maxAge"/>
      <Property name="useEquals">true</Property>
      <Property name="suspectTimeout"/>
      <Property name="validationQueryTimeout"/>
      <Property name="alternateUsernameAllowed">false</Property>
      <Property name="commitOnReturn">false</Property>
      <Property name="rollbackOnReturn">false</Property>
      <Property name="CountRetrieverClass">org.wso2.carbon.identity.user.store.count.jdbc.JDBCUserStoreCountRetriever</Property>
      <Property name="ClaimOperationsSupported">true</Property>
      <Property name="DomainName">AGENT</Property>
      <Property name="Description"/>
</UserStoreManager>